:root {
    --mdc-theme-primary: #3458C2;
    --mdc-theme-on-primary: #282A2B;
    --mdc-theme-secondary: #ffffff;
    --mdc-theme-on-secondary: #282A2B;
    --mdc-theme-surface: #3A3E42;
    --mdc-theme-background: #282A2B;
    --mdc-theme-on-background: #ffffff;
}